* {
  user-select: none;
}

body {
  overflow-x: auto;
}

table,
th,
td {
  border: 1px solid black;
  min-width: 150px;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
  width: auto;
}

td {
  visibility: show;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.hidden {
  visibility: hidden;
}
